@import "../_variables.scss";

$nav-animation-time: .5s;

.navbar{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $primary-color;
}

.navbar-top{
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item{
    padding: 0px 10px;
}

.underline{
    // position: absolute;
    height: 5px;
    width: 20px;
    background-color: $secondary-color;
    margin-left: 15px;
    margin-bottom: 15px;
    // transition: margin $nav-animation-time, width $nav-animation-time;
}